.Hi {
    border: 4px solid;
    width: 250px;
    height: 250px;
    background-color: aqua;
    text-align: center;
    font-size: 220px;

    /* animation: slide;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;*/

    /* animation: 3s linear 0s infinite running slide; */
    animation: opacity 7s infinite;
}

.Hi:hover {
    background-color: blanchedalmond;
}
.Hi:active {   
    background-color: blueviolet;
}

@keyframes slide {
    from {
        margin-left: 60%;
    }to {
        margin-left: 0%;
    }
}
@keyframes rotate {
    100% {
        transform: rotateX(360deg);
    }
}
@keyframes opacity {
    50% {
        opacity: 0;
    }
}
@keyframes scale {
    100% {
        transform: scale(0.5, 0.5);
    }
}
@keyframes color {
    0% {
        background-color: red;
    }
    20% {
        background-color: green;
    }
    40% {
        background-color: yellow;
    }
    60% {
        background-color: blueviolet;
    }
    80% {
        background-color: blue;
    }
    100% {
        background-color: purple;
    }
}