* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation_bar {
    /* background-color:rgb(149, 247, 149); */
    max-height: 115px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navigation_bar .logo {
    padding: 25px 6vw;
}

.navigation_bar .menu {
    display: flex;
    position: relative;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.6vmax;
    font-weight: lighter;
    gap: 4vw;
    padding: 65px 3vw;
}

.menu ul li:hover{
    color: #ffbb00;
}

.menu .fa-phone-volume {
    display: flex;
    color: #F6BB18;
    font-size: 26px;
    align-items: center;
    padding: 0 25px;
}

.menu button {
    min-width: 15vw;
    max-height: auto;
    border: none;
    background-color: #F6BB18;
    font-size: 18px;
}

.menu2 {
    display: none;
}

@media (max-width: 1187px) {
    .navigation_bar {
        min-height: 60px;
    }

    .menu ul {
        display: none;
    }

    .menu2 {
        display: flex;
        font-size: 28px;
        align-items: center;
        padding-left: 5vw;
        font-weight: bold;
    }
}

header {
    position: relative;
}

header .head_image {
    object-fit: cover;
    height: 70vw;
    z-index: -1;
}

header .head {
    background-color: rgba(0, 0, 0, 0.11);
    width: 100%;
    height: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.head h1 {
    color: #F6BB18;
    font-size: 8vw;
    font-weight: bold;
}

.head p {
    color: white;
    font-size: 3.5vw;
}

.page1 {
    min-height: 55vw;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    /* background-color: aqua; */
}

.page1 .leftside {
    flex: 50%;
    /* background-color: aqua; */
    position: relative;
    padding: 20px 27px;
}

.leftside h1 {
    color: #F6BB18;
    font-weight: bold;
    font-size: 40px;
}

.leftside p {
    font-weight: 22px;
    line-height: 35px;
    text-align: justify;
}

.leftside button {
    background-color: black;
    color: #F6BB18;
    padding: 18px 80px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
}

.leftside button:hover {
    color: transparent;
    background-color: rgba(0, 0, 0, 0.833);
}

.page1 .rightside {
    flex: 50%;
    /* background-color: burlywood; */
    position: relative;
    padding: 0 30px;
}

.rightside img {
    margin-top: 10%;
    height: 65%;
    width: 99%;
}

.page2 {
    background-color: #F6BB18;
    position: relative;
    min-height: 55vw;
    padding: 50px 0;
}

.text h1 {

    font-weight: bold;
    text-align: center;
    font-size: 40px;
}

.text p {
    line-height: 25px;
    text-align: center;
    padding: 0 22vw;
}

.page2 .container {
    color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 30px;
    position: relative;
}

.container .box {
    background-color: white;
    position: relative;
    flex: 25%;
    height: 300px;
    border-radius: 15px;
}

.container .box:hover {
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
}

.box h1 {
    padding-left: 25px;
    padding-top: 20px;
}

.box p {
    padding-left: 25px;
    width: 90%;
}

.container>div:hover {
    background-image: url(Images/service-bg.png);
}

.page3 {
    min-height: 40vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 0;
}

.page3 span {
    color: #F6BB18;
    font-weight: bold;
}

.page3 span:hover {
    color: black;
}

.page3 .leftside {
    flex: 50%;
    /* background-color: aqua; */
    position: relative;
    padding: 100px 40px;
    text-align: left;
}

.page3 .rightside {
    flex: 50%;
    /* background-color: rgba(222, 184, 135, 0.361); */
    position: relative;
}

.rightside_image {
    max-height: auto;
    max-width: 200px;
    gap: 5px;
    display: flex;
    align-items: baseline;
    padding: 10px 25px;
}

@media (max-width: 325px),
(max-width: 550px) {
    .rightside_image {
        max-height: auto;
        max-width: 210px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 30px;
    }
}

.page3 .rightside p {
    padding: 0 30px;
    text-align: left;
    width: 95%;
    line-height: 30px;
    word-spacing: 8px;
}

.page4 {
    background-color: #F6BB18;
    min-height: 35vw;
    color: black;
    position: relative;
    display: flex;
    flex-direction: row;
}

@media (max-width: 700px) {
    .page4 {
        display: flex;
        flex-direction: column;
    }
}

.page4 .leftside {
    flex: 50%;
    position: relative;
    padding: 120px 0;
}

.page4 .leftside h1 {
    font-size: 70px;
    font-weight: 500;
    color: black;
    padding: 0 22px;
}

.page4 .leftside p {
    font-size: 24px;
    padding: 0 22px;
}

.page4 .leftside button {
    font-size: 28px;
    font-weight: bold;
    padding: 2.5vw 8vw;
    border-radius: 0;
    margin: 0 22px;
}

.page4 .rightside {
    flex: 50%;
    /* background-color: rgba(142, 247, 165, 0.815); */
    position: relative;
}

.page4 .rightside img {
    padding: 10px 30px;
}

.page5 {
    background-color: #F3F3F3;
    text-align: center;
    padding: 80px 0;
    position: relative;
}

.page5 h1 {
    font-size: 40px;
}

.page5 p {
    font-size: 20px;
}

footer {
    background-color: black;
    color: white;
    min-height: 40vw;
    position: relative;
    padding: 90px 0;
}

footer .footer {
    position: relative;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lastmenu ul {
    list-style: none;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    gap: 2.5vw;
}

.footer .lastmenu ul li:hover {
    color: black;
}

footer .privacy {
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}